$white: #ffffff;
$black: #000000;
$transparent: transparent;

$brand-primary:#164A41;
$brand-secondary: #4D774E;
$brand-tertiary: #9DC88D;
$brand-quartery: #F1B24A;

$text-color-primary: #2f2f44;
$text-color-secondary: #ffffff;