.item {
    &--title {
        color: orange;
    }

    &--subtitle {
        color: orange;
    }

    &--description {
        color: green;
    }

    &--btn {
    }

    &--img {
        
    }
}
