// general settings

//html

//body

body {
  background-color: $brand-primary;
  color: $white;
  font-family: $font-primary;
}

.app {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: $font-secondary;
}

//headers (h1-h6)

//paragraphs

//inputs

//a

//buttons

//rest of html elements (strong, b, em, i)