.nav {
  display: flex;
  background: #333;

  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    transition: 0.7s ease-in-out;

    &--name {
      transition: 0.7s ease-in-out;

      .href {
        transition: 0.7s ease-in-out;
        color: white;
        text-decoration: none;
        cursor: pointer;
      }

      &_test {
        display: flex;
        align-self: center;
        position: relative;
        right: 140px;
      }
    }

    &--tooltip {
      transition: 0.7s ease-in-out;

      &:hover {
        background: #666;
      }
    }
  }
}