.wrapper {
  &__header {
    &--title {
      color: orangered;
    }

    &--subtitle {
      color: darkgreen;
    }

    &--img {}

    &--description {
      color: lightseagreen;
    }

    &--btn {}
  }

  &__container {
    &--left {
      .item {
        &--img {}
      }
    }

    &--right {
      .item {
        &--title {
          color: orange;
        }

        &--subtitle {
          color: orange;
        }

        &--description {
          color: green;
        }

        &--btn {}
      }
    }
  }
}
