.wrapper {
    &__header {
        &--title {
            color: orangered;
        }

        &--subtitle {
            color: darkgreen;
        }

        &--img {}

        &--description {
            color: lightseagreen;
        }

        &--btnlink {}

        &--btntext {}
    }

    &__container {
        &__left {
            &__item {
                &--img {}
            }
        }

        &__right {
            &__item {
                &--title {
                    color: orange;
                }

                &--subtitle {
                    color: red;
                }

                &--description {
                    color: green;
                }

                &--btnlink {}

                &--btn {}
            }
        }
    }
}