.wrapper__header{
    .wrapper {
        &__header {
          &--title {
            color: cyan;
          }
      
          &--subtitle {
            color: darkgreen;
          }
      
          &--img {}
      
          &--description {
            color: lightseagreen;
          }
      
          &--btn {}
        }
      
        &__container {
          &--left {
            
          }
      
          &--right {
            
          }
        }
      }
      
}