.wrapper {
    &__header {
        &--title {
            color: orangered;
        }

        &--subtitle {
            color: darkgreen;
        }

        &--img {}

        &--description {
            color: lightseagreen;
        }

        &--btnlink {}

        &--btntext {}
    }

    &__container {
        &__left {
            &__item {
                &--img {}
            }
        }

        &__right {
            &__item {
                &--title {}

                &--subtitle {}

                &--description {}

                &--btnlink {}

                &--btn {}
            }
        }

        &__item {}

    }
}